<ul>
<li><a href="/">Home</a></li>
<li><a href="./about">About</a></li>
<li><a href="./contact">Contact</a></li>
</ul>

<style>
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
li {
    padding: 0px 20px;
}
</style>